<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .login-form .form-control {
            background-color: #3a3b45;
            color: #fff;
            border: none;
        }
        .login-form .btn-primary {
            background-color: #4e73df;
            border: none;
        }
        button {
            cursor: pointer;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{layout/header::header}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <div th:replace="~{layout/sidebar::sidebar}"></div>
        </div>
        <div class="col-md-10 content">
            <div class="login-form">
                <h2>Login</h2>
                <!-- 로그인 실패하면 시큐리티가 localhost:8080/login 뒤에
                파라미터 ?error 를 자동으로 붙여주기 때문에 localhost:8080/login?error 로 리다이렉트 되는데 이 파라미터의 유무에 따라 해당 div 가시화가 결정됨-->
                <div th:if="${param.error}" class="form-group">
                    <span th:text="${exception}?: '잘못된 아이디나 암호입니다'" class="alert alert-danger"></span>
                </div>
                <form th:action="@{/login}" method="post"> <!-- 타임리프가 post 요청에 따라 알아서 csrf 토큰 관련 태그 생성해줌-->
                    <input type="hidden" th:value="secret" th:name="secret_key" />
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer" th:replace="~{layout/footer::footer}"></div>
</body>
</html>